body {
    margin: auto;
    max-width: 600px;
}

header {
    display: grid;
    grid-template-columns: 140px auto;
    align-items: center;
    background-color: navy;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: navy;
    color: white;
    font-family: 'Open Sans', sans-serif;
}