/*
CSS rules for fonts:
font-family: 'Architects Daughter', cursive;
font-family: 'Nunito', sans-serif;
*/

body {
    display: block;
}
.content {
    background-color: #EAAC8B;
    color: #1B512D;
    max-width: 960px;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
    border: 5px #EC7357 solid;
}

.headermain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

nav {
	margin: 0 auto;
	background-color: #92AC86;
	text-align: center;
	box-shadow: 0 0 30px #1B512D;
    border-radius: 5px;
    z-index: 1;
}
ul {
    padding: 0;
    max-width: 100%;
}
.navivgation {
    list-style: none;
    text-align: center;
    padding: 0;
    max-width: 100%;
}

.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #5A3A31;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a.ham::before {
	content: "≡";
    font-size: 2em;;
}
.navigation a:hover {
	background-color: #5A3A31;
	color: #92AC86;
    border-radius: 30px;
}

.responsive li {
	display: block;
    width: 100%;
    
}

.responsive a.ham::before {
	content: "X";
}


aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: .9em;
	font-family: hebrew;
	
}


h1, h2 {
    font-family: 'Architects Daughter', cursive; 
}

p {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}



section {
    text-align: center;
}

ol {
    text-align: left;
    padding-inline-start: 10%;
    padding-inline-end: 10%;
}

footer {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    padding: 10px;
    
}

footer div {
    margin-top: -20px;
}

.colorimg {
    max-width: 100%;
}

