@media (min-width: 64em) {
    
    .mainheading {
        max-width: 40%;
    }

    .headernav {
        justify-self: flex-end;
        min-width: 50%;
    }

    footer {
        flex-flow: column;
        
    }
    #footer_top {
        flex-direction: row;
    }

    #footer_under {
        
        flex-direction: row;
    }

    #footer_bottom {
        flex-direction: row;
        padding-top: 10px;
    }

    #footer_under section {
        flex-grow: 1;
    }

    #footer_bottom p {
        flex-grow: 1;
    }

    #footer_last {
        padding-bottom: 10px;
    }

    ol {
        padding-inline-start: 25%;
    }
    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
}