/*
CSS rules for fonts:
font-family: 'Architects Daughter', cursive;
font-family: 'Nunito', sans-serif;
*/

body {
    display: block;
}
.content {
    background-color: #6C809A;
    color: #F5F5F5;
    max-width: 960px;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
}
header {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
    border: 5px #0B132B solid;
}

.headermain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

nav {
	margin: 0 auto;
	background-color: #1C2541;
	text-align: center;
	box-shadow: 0 0 10px #E4DFDA;
    border-radius: 5px;
    z-index: 1;
    
}
ul {
    padding: 0;
}
.navivgation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #F5F5F5;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation a.ham::before {
	content: "≡";
    font-size: 2em;;
}
.navigation a:hover {
	background-color: #F5F5F5;
	color: #1C2541;
    border-radius: 30px;
}

.responsive li {
	display: block;
    width: 100%;
    
    
}

.responsive a.ham::before {
	content: "X";
    
}


.navopen {
    width: 50%;
}


aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem;
	background-color: #eee;
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: .9em;
	font-family: hebrew;
	
}


h1, h2, h3 {
    font-family: 'Satisfy', cursive;
    text-align: center; 
}

p {
    font-family: 'Dosis', sans-serif;
    padding: 10px;
}

ul {
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}



section {
    text-align: center;
}

ol {
    text-align: left;
    padding-inline-start: 10%;
    padding-inline-end: 10%;
}

footer {
    display: flex;
    flex-flow: column;  
}


.colorimg {
    max-width: 100%;
}

#footer_top {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#footer_logo {
    flex-grow: 1;
    margin-top: 10px;
    margin-right: 5px;
}

#footer_location {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#footer_location p {
    margin-top: -20px;
}


#footer_contact {
    margin-top: 35px;
    flex-grow: 1;
}

#footer_contact p {
    margin-top: -25px;
}

#footer_under {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

#footer_under section {
    margin-top: -30px;
}

#footer_bottom {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 20px;
}

#footer_bottom p {
    margin-bottom: -5px;
    padding: 0;
}

#footer_bottom h3 {
    margin-bottom: -5px;
}


#footer_line {
     
    width: 100%;  
    height: 4px;  
    background-color: #0B132B;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;
    border-width: 0px;   
      
        
}

#footerlink a {
    color: #5A3A31;
}

#footerlink a:hover {
    background-color: #5A3A31;
	color: #92AC86;
}

/* CSS RULES FOR HOME PAGE */

.index_main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

}

#index_information {
    text-align: center;
}

/* CSS RULES FOR SERVICES PAGE */

#services_main {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.services_title {
    grid-column: 1/3;
}

.services_list {
    grid-column: 1/2;
    padding: 15px;
}
.services_list ul {
    font-family: 'Dosis';
}

.amenities_list {
    grid-column: 2/3;
    padding: 15px;
}
.amenities_list ul {
    font-family: 'Dosis';
}

/* CSS RULES FOR RESERVATION PAGE */


.res_form {
    display: flex;
    flex-direction: column;
    font-family: 'Dosis';
}

.contact_info {
    display: flex;
    flex-direction: column;
}

.contact_label p{
    padding: 0px;
    margin: 0px;
}

.stay {
    display: flex;
    flex-direction: column;
}

.room_type {
    display: flex;
    flex-direction: column;
}

.spec_acc {
    display: flex;

}

.acc_entry {
    width: 100%;
}

.submit_button {
    max-width: 60px;
    margin-top: 5px;
    margin-bottom: 20px;
    justify-self: center;
    align-self: center;
}

/* CSS RULES FOR TEMPLES PAGE */

#temple_main {
    display: flex;
    flex-direction: column;
}

#temple_main p {
    padding: 0px;
}

#temple_main img {
    margin-top: 60px;
}